<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator App</title>
  <link rel="stylesheet" href="../styles.css">

</head>

<body>
  <div class="calculator">
    <input type="text" class="result" [(ngModel)]="calculationResult" readonly>

    <div class="row">
      <app-digit [digit]="7"></app-digit>
      <app-digit [digit]="8"></app-digit>
      <app-digit [digit]="9"></app-digit>
      <app-operator [operator]="'+'"></app-operator>

    </div>

    <div class="row">
      <app-digit [digit]="4"></app-digit>
      <app-digit [digit]="5"></app-digit>
      <app-digit [digit]="6"></app-digit>
      <app-operator [operator]="'-'"></app-operator>
    </div>

    <div class="row">
      <app-digit [digit]="1"></app-digit>
      <app-digit [digit]="2"></app-digit>
      <app-digit [digit]="3"></app-digit>
      <app-operator [operator]="'*'"></app-operator>
    </div>

    <div class="row">
      <app-digit [digit]="0"></app-digit>
      <app-operator [operator]="'/'"></app-operator>
      <app-operator [operator]="'√'"></app-operator>
      <app-operator [operator]="'^2'"></app-operator>
      <app-operator [operator]="'^3'"></app-operator>
      <button class="operator" (click)="calculateResult()">=</button>
    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>
